<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-logo-wrap">
        <a class="logo logo-footer" href="./index.html">
          <svg width="40" height="36" class="icon-logo">
            <use href="./image/icons.svg#icon-logo"></use>
          </svg>
          Product</a
        >
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a href="" class="footer-soc-link">
              <svg class="footer-soc-icon" width="24" height="24">
                <use href="./image/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a href="" class="footer-soc-link">
              <svg class="footer-soc-icon" width="24" height="24">
                <use href="./image/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a href="" class="footer-soc-link">
              <svg class="footer-soc-icon" width="24" height="24">
                <use href="./image/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-resource-wrap">
        <p class="footer-title">Resource</p>
        <ul>
          <li><a class="footer-link" href="">About Us</a></li>
          <li><a class="footer-link" href="">Blog</a></li>
          <li><a class="footer-link" href="">Contact</a></li>
          <li><a class="footer-link" href="">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-stuff-wrap">
        <p class="footer-title">Legal Stuff</p>
        <ul>
          <li><a class="footer-link" href="">Disclaimer</a></li>
          <li><a class="footer-link" href="">Financing</a></li>
          <li><a class="footer-link" href="">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="footer-form-wrap">
        <p class="footer-title footer-title-form">
          knowing you're always on the best energy deal.
        </p>
        <form class="footer-form">
          <div class="footer-input-wrap">
            <svg class="footer-form-icon" width="18" height="28">
              <use href="./image/icons.svg#icon-mobile-screen"></use>
            </svg>
            <input
              placeholder="Enter your phone number"
              type="email"
              class="footer-form-input"
            />
          </div>
          <button type="submit" class="footer-form-btn">Sign up Now</button>
        </form>
      </div>
    </div>
    <p class="footer-desc">Made With Love By Figmaland All Right Reserved</p>
  </div>
</footer>
