<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo" href="./index.html">
        <svg width="40" height="36" class="icon-logo">
          <use href="./image/icons.svg#icon-logo"></use>
        </svg>
        Product</a
      >
      <ul class="nav-list">
        <li><a class="nav-link current" href="">Product</a></li>
        <li><a class="nav-link" href="./customers.html">Customers</a></li>
        <li><a class="nav-link" href="./pricing.html">Pricing</a></li>
        <li><a class="nav-link" href="">Resources</a></li>
      </ul>
    </nav>
    <ul class="header-list-button">
      <li>
        <button class="header-btn header-sign-in" type="button">Sign In</button>
      </li>
      <li>
        <button class="header-btn header-sign-up" type="button">Sign Up</button>
      </li>
    </ul>
    <button class="mob-menu-btn" type="button">=</button>
  </div>
</header>
