.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 17px 0;
}

.nav-list {
  display: none;
  gap: 30px;
}

.nav-link {
  line-height: 1.75;
  padding: 26px 0;
  display: block;
}

.current {
  font-weight: 600;
}

.header-list-button {
  display: none;
  margin-left: auto;
  gap: 21px;
}

.header-btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.header-sign-in {
  min-width: 105px;
  height: 42px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  color: #173a56;
}

.header-sign-up {
  min-width: 113px;
  height: 42px;
  border: none;
  border-radius: 4px;
  background-color: #02897a;
  color: #fff;
}
.mob-menu-btn {
  color: black;
  border: none;
  font-size: 40px;
  margin-left: auto;
}
@media only screen and (min-width: 1150px) {
  .mob-menu-btn {
    display: none;
  }
  .nav-list {
    display: flex;
  }
  .header-list-button {
    display: flex;
  }
  .logo {
    margin-right: 237px;
  }
}
