.management {
    padding: 50px 0;
}

.management .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.management-text-wrap {
    max-width: 486px;
}

.management-title {
    /* display: flex;
  flex-direction: column;
  gap: 8px; */

    font-size: 32px;
    margin-bottom: 25px;
}

.management-title-part {
    font-weight: 600;
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
}

.management-text {
    margin-bottom: 30px;
    line-height: 1.625;
}

.management-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.management-subtitle {
    font-weight: 600;
    line-height: 1.625;
    margin-bottom: 12px;
}

.management-desc {
    line-height: 1.625;
}